<form class="form form-horizontal">
	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">行政区</label>
		<div class="col-sm-8"> 	
			<input type="text" class="form-control form-valid selector" 
			name="district" 
			id="tvHomeAdr" 
			placeholder="选择行政区"
			 
			selector="district"
			value-of-control="hidDistrict"
			>
			<input type="hidden" id="hidDistrict" />
	  </div>
	</div>

	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">选择楼盘</label>
		<div class="col-sm-8"> 	
			<input type="text" class="form-control form-valid" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="选择楼盘" 
			data-field="homeAdr" 
			>
	  </div>
	</div>

	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">房屋结构</label>
		<div class="col-sm-8 form-inline"> 	
			<input type="text" class="form-control form-valid"
			style="width:40px" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="房" 
			data-field="homeAdr" 
			>／<input type="text" class="form-control form-valid" 
			style="width:40px"
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="厅" 
			data-field="homeAdr" 
			>／<input type="text" class="form-control form-valid"
			style="width:40px" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="卫" 
			data-field="homeAdr" 
			>
			<input type="text" class="form-control form-valid" 
			style="width:90px"
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="主卧朝向" 
			data-field="homeAdr" 
			>			
			<input type="text" class="form-control form-valid"
			style="width:90px" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="面积" 
			data-field="homeAdr" 
			>
	  </div>
	</div>

	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">总价</label>
		<div class="col-sm-8"> 	
			<input type="text" class="form-control form-valid" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="总价" 
			data-field="homeAdr" 
			>
	  </div>
	</div>

	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">备注</label>
		<div class="col-sm-8"> 	
			<TextArea type="text" class="form-control form-valid" 
			name="homeAdr" 
			id="tvHomeAdr" 
			placeholder="备注" 
			data-field="homeAdr" 
			>
			</TextArea>
	  </div>
	</div>
</form>