	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">行政区</label>
		<div class="col-sm-8"> 	
			<input type="text" class="form-control form-valid selector" 
			name="district" 
			id="tvHomeAdr" 
			placeholder="选择行政区"
			 
			selector="district"
			value-of-control="#hidDistrict"
			>
			<input type="hidden" id="hidDistrict" />
	  </div>
	</div>

	<div class="form-group">
		<label for="tvHomeAdr" class="col-sm-3 control-label">房屋结构</label>
		<div class="col-sm-8 form-inline"> 	
			<input type="number" class="form-control form-valid"
			style="width:40px" 
			name="Bedroom" 
			id="tvBedroom" 
			placeholder="房" 
			data-field="bedroom" 
			>／<input type="number" class="form-control form-valid" 
			style="width:40px"
			name="Livingroom" 
			id="tvLivingroom" 
			placeholder="厅" 
			data-field="livingroom" 
			>／<input type="number" class="form-control form-valid"
			style="width:40px" 
			name="Bathroom" 
			id="tvBathroom" 
			placeholder="卫" 
			data-field="bathroom" 
			>
			<input type="text" class="form-control form-valid" 
			style="width:90px"
			name="FaceTo" 
			id="tvFaceTo" 
			placeholder="主卧朝向" 
			data-field="faceTo" 
			>			
			<input type="text" class="form-control form-valid"
			style="width:90px" 
			name="Area" 
			id="tvArea" 
			placeholder="面积" 
			data-field="area" 
			>
	  </div>
	</div>

	<div class="form-group">
		<label for="tvPrice" class="col-sm-3 control-label">总价</label>
		<div class="col-sm-8"> 	
			<input type="number" class="form-control form-valid" 
			name="Price" 
			id="tvPrice" 
			placeholder="总价" 
			data-field="price" 
			>
	  </div>
	</div>
	<div class="form-group">
		<label for="tvMemo" class="col-sm-3 control-label">标签</label>
		<div class="col-sm-8"> 	
			<div class="mark-container" bindCtrl="#hidMarks"></div>
			<input type="hidden" id="hidMarks" name="marks">
	  </div>
	</div>
	<div class="form-group">
		<label for="tvMemo" class="col-sm-3 control-label">备注</label>
		<div class="col-sm-8"> 	
			<TextArea type="text" class="form-control form-valid" 
			name="Memo" 
			id="tvMemo" 
			placeholder="备注" 
			data-field="memo" 
			>
			</TextArea>
	  </div>
	</div>
