{% extends "common/dialog.html" %}
{% block title %}
添加客户资料
{% endblock %}
{% block contentBody %}
<div class="container">
	<div class="center-block">
	{% if not cust.custid  %}
		<h1>添加新客户</h1>
	{% else %}
		<h1>修改客户资料</h1>
	{% endif %}
	</div>
	<div id="custome_info" style="max-width:1000px">
	    <div class="form-group col-sm-8">
			
	    	<form class="form-horizontal" method="post" enctype="multipart/form-data" action="save">
		  	  <input type="hidden" id="hidCustId" name="custid" value="{{cust.custid}}" data-field="custid"/>
			  <div class="form-group">
			  	<label for="tvDispName" class="col-sm-3 control-label">客户姓名</label>
			  	<div class="col-sm-8">
			    	<input type="text" class="form-control form-valid" name="dispName" id="tvDispName" placeholder="客户姓名"  data-field="dispName" value='{{ cust.dispName }}'>
			    </div>
			  </div>
			  <div class="form-group">
			  	<label for="tvCellPhone" class="col-sm-3 control-label">手机号码</label>
			  	<div class="col-sm-8">
			    	<input type="text" class="form-control form-valid" name="cellphone" id="tvCellPhone" placeholder="手机号码" data-field="cellphone"  value='{{ cust.cellphone }}'>
			    </div>
			  </div>
			  
			  <div class="form-group">
			  	<label for="tvWork4" class="col-sm-3 control-label">所在公司</label>
			  	<div class="col-sm-8">
			    	<input type="text" class="form-control form-valid" name="work4" id="tvWork4" placeholder="所在公司" data-field="work4"  value="{{ cust.work4 }}">
			    </div>
			  </div>
			  <div class="form-group">
			  	<label for="tvHomeAdr" class="col-sm-3 control-label">住址</label>
			  	<div class="col-sm-8">
			    	<input type="text" class="form-control form-valid" name="homeAdr" id="tvHomeAdr" placeholder="住址" data-field="homeAdr" value="{{ cust.homeAdr }}">
			    </div>
			  </div>
			  <div class="form-group">
				  <div class="col-sm-offset-3 col-sm-8">
				  	<button id="btnOk" type="button" class="btn btn-primary btn-lg">保存</button>
				  	<button id="btnRtn" type="button" class="btn btn-lg" data-dismiss="modal">返回</button>
				  </div>
			  </div>
			</form>
	    </div>
	</div>
	

	<div class="modal fade" id="newConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">保存成功</h4>
	      </div>
	      <div class="modal-body">
	        是否需要继续添加需求？
	      </div>
	      <div class="modal-footer">
	        <a id="btnNew" type="button" class="btn btn-default" href="new">添加另外一笔新客户</a>
	        <a id="btnContinue" type="button" class="btn btn-primary">继续添加需求</a>
	        <a id="btnRtnC" type="button" class="btn btn-default" href="#" data-role="close">返回客户列表</a>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	
	$(function(){
		$("#btnRtn").bind('click',function(){
			closeMe();
		});
		$("#btnOk").bind('click',function(){
			var isNew=$("#hidCustId").val()=="";
			var data={}
			$("input").each(function(n,i){
				var f = $(i).attr("data-field");
				if(f==null || f==""){
					return true;
				}
				var v = i.getval?i.getval():$(i).val();
				data[f] = v;
			});
			$.ajax({
				url:"save",
				data:data,
				type:"post",
				dataType:"json",
				success:function(data){
					if(data.state==0){
						var custid=data.result["custid"];
						if(isNew){
							/*$("#newConfirm").on("hidden.bs.modal",function(e){
								alert(e);
							});
							$("#newConfirm").find("#btnContinue").one('click',function(){
								location.href="edit?custid="+custid
							});
							$("#newConfirm").modal('show');*/
							showMessage({
								"width":640,
								"height":480,
								"title":"保存成功",
								"body":"是否需要继续添加需求？",
								"buttons":[
								           {"id":"new","text":"添加另外一笔新客户"},
								           {"id":"req","text":"继续添加需求"},
								           {"id":"rtn","text":"返回客户列表"},
								           ],
								"defaultButton":"rtn",
								"closed":function(state){
									if(state=="new"){
										location.hef="new";
									}
									else if(state=="req"){
										location.href="requirement/new?custid="+custid;
									}
									else if(state=="rtn"){
										closeMe();
									}
								},
							});
							
						}
						else{
							alert("保存成功");
						}
					}
					else{
						alert("保存失败");
					}
				}
			});
		});
	});
	
	
</script>
{% endblock %}