{% extends "common/dialog.html" %}
{% block navbarBrand %}
{% if not req.custid  %}
		添加需求
	{% else %}
		修改需求
	{% endif %}
{% endblock %}
{% block contentBody %}
<link rel="stylesheet" href="/static/mark/mark.default.css?1"></link>
<style type="text/css">
.mark-container{
	width:100%;
	min-height:40px;
	
	padding:6px 5px 5px 6px;
	border:1px #ccc solid;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px; 
}
</style>
<div class="container" >
	<div id="req_info" data-id="{{req.reqid}}">
	    <div class="form-group col-sm-12">
			
	    	<form class="form-horizontal" method="post" enctype="multipart/form-data" action="save">
		  	  <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">需求描述</h4>
		      </div>
		      <div class="modal-body">
		        <div>
		      		<div style="border-bottom:1px solid #e5e5e5;padding-bottom:10px">
		      			<select class="DataField" id="ddlRequireClass" field-name="RequireClass" value="{{req.RequireClass}}">
		      				<option value="buy">购房</option>
		      				<option value="sale">出售</option>
		      				<option value=lease>出租</option>
		      				<option value="leasee">承租</option>
		      			</select>
		      		</div>
		      		<div id="frmBody" style="margin-top:10px;margin-bottom:10px;">
		      		
		      		</div>
		      	</div>
		      </div>
		      
		      <div class="modal-footer">
		        <a id="btnNew" type="button" class="btn btn-default" >保存</a>
		        <a id="btnNewContinue" type="button" class="btn btn-default" >保存并新增需求</a>
		        <a id="btnClose" type="button" class="btn btn-primary" data-role="close">关闭</a>
		      </div>
			</form>
	    </div>
	</div>	
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
function loadRequireForm(name,options){
	var _options={"loaded":function(e){}};
	$.extend(_options,options);
	$("#frmBody").html("");
	$.get("../form-template/"+name,
			function(html){
		var e = $("#frmBody").html(html);
		e.bindSelector();
		e.initMark();
		_options.loaded(e);
	});
}
$(function(){

	$("#ddlRequireClass").bind("change",function(){
		loadRequireForm(this.value);
	});
	$("#btnNew").bind("click",function(){
		save({"callback":function(state){
			if(state.state==0){
				alert("保存成功");
				$("#req_info").attr("data-id",state.result["reqid"]);
			}
			else{
				alert("保存失败");
			}
		}});
	});
	$("#btnNewContinue").bind("click",function(){
		save({"callback":function(state){
			if(state.state==0){
				alert("保存成功");
				loadRequireForm($("#ddlRequireClass").val());
				$("#req_info").attr("data-id","");
			}
			else{
				alert("保存失败");
			}
		}});
	});
});	
function save(option){
	var _option={
			"callback":function(state){}
	};
	
	$.extend(_option,option);
	var data = {};
	
	$(".DataField").each(function(i,e){
		var nm=$(e).attr("field-name");
		var va=$(e).val();
		data[nm]=va;
	});
	var _data = {custid:'{{cust.custid}}',reqid:$("#req_info").attr("data-id")};
	
	$.extend(data,_data);
	$.ajax({
		type:"POST",
		url:"save",
		data:data,
		dataType:"json",
		success:function(json){
			_option.callback(json);
		}
	});
}

</script>
<script type="text/javascript">
$(function(){
	var data=null;
			{% if req!=None %}
			data = {
      		{%for k,v in req%}
      		"{{ k }}":"{{ v }}",
      		{% endfor %}
      		};
			{% endif %}
	if(!data){
		loadRequireForm($("#ddlRequireClass").val());
	}
	else{
		$("#ddlRequireClass").val(data["RequireClass"]);
		loadRequireForm(
				$("#ddlRequireClass").val(),
				{
					loaded:function(body){
						$(".DataField").each(function(i,e){
							var nm=$(e).attr("field-name");
							$(e).val(data[nm]);
						});
						$(body).find(".mark-container").setMarks($(body).find(".mark-container").val());
					}
				}
		);
	}
   		
});

</script>
{% endblock %}