{% extends "common/dialog.html" %}

{% block headExt %}
<div class="pull-right" style="padding-top:7px;padding-right:5px">
<button id="btnOk" class="btn btn-default">确认</button>
<button id="btnCancel" class="btn btn-default">取消</button>
</div>
{% endblock %}
{% block contentBody %}
<div>
	<div id="filter" class="row">
	
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<div class="col-sm-3">
					<div class="input-group">
					  <input id="txtKeyword" type="text" class="form-control" placeholder="关键字" name="keyword">
					  <div class="input-group-btn">
					    <input type="button" class="btn btn-primary" value="检索">
					  </div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="data" class="row">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class="col-xs-3">
						组名
					</th>
					<th class="col-xs-3">
						上级组
					</th>
					<th class="col-xs-1">
						子级组
					</th>
					
				</tr>
			</thead>
			<tbody>
			{%for i in data -%}
				{% if current!=i%}
				<tr>
					<td>
						<a href="#" class="btn group-item" data-id="{{i.id}}" data-name="{{i.name}}">
						{{i.name}}
						</a>&nbsp;
					</td>
					<td>
						{% for g in i.parents%}
						<a href="?domain={{domain}}&id={{g.id}}&ex={{ex}}">{{g.name}}</a>;&nbsp;
						{% endfor %}
					</td>
					<td>
						<a href="?domain={{domain}}&id={{i.id}}&ex={{ex}}">{{i.subgroups.count}}</a>&nbsp;
					</td>
					
				</tr>
				{% else %}
				<tr style="color:#ccc">
					<td>
						{{i.domain}}
						&nbsp;
					</td>
					<td>
						{{i.parent.domain}}&nbsp;
					</td>
					<td>
						{{i.subdomains}}&nbsp;
					</td>
					
				</tr>
				{% endif %}
			{%- endfor %}
			</tbody>
		</table>
	</div>
	
	
</div>
<div style="display:block;background-color:#ccc;height:1px" class="row"></div>
	<div>已选中组</div>
	<div id="rowSelected" >	
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function(){
	$("#data .group-item").click(function(){
		var dataId=$(this).attr("data-id");
		var dataName=$(this).attr("data-Name");
		$.fetch_selected(this);
	});
	$("#btnOk").click(function(){
		var dispName=[];
		var value=[];
		$.each($("#rowSelected>div"),function(i,o){
			dispName.push($(o).attr("data-name"));
			value.push($(o).attr("data-id"));
		});
		closeMe({"dispName":dispName.join(" "),"value":value.join(" ")});
	});
	$("#btnCancel").click(function(){
		closeMe();
	});
});
jQuery.extend({
	fetch_selected:function(e){
		var dataId=e.dataId?e.dataId:$(e).attr("data-id");
		var dataName=e.dataName?e.dataName:$(e).attr("data-name");
		if($("#rowSelected>div[data-id="+dataId+"]").length>0){
			//return;
		}
		var e = $("<div class='col-xs-2'></div>").attr("data-id",dataId).attr("data-name",dataName).appendTo("#rowSelected");
		$("<span>").text(dataName).appendTo(e);
		//e.attr("dataId",dataId).attr("data-name",dataName).append("<span>"++"</span>").text(dataName);
		var re = $("<a class='fa fa-remove btn'>").appendTo(e);
		re.click(function(){
			e.remove();
		}).hide();
		e.hover(function(){re.fadeIn("slow")},function(){re.fadeOut("slow")});
	}
	});
</script>
{% endblock %}
